@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }

    .home-navbar .home-left, .home-right, .home-container01 {
        display: none;
    }

    .home-navbar .navbar-logo-title {
        margin-left: 0;
    }

    .home-main .home-container03 {
        align-items: center;
    }

    .home-main .home-hero1 {
        flex-direction: column;
    }

    .home-main .section-container .home-cards-container {
        gap: 10px;
    }

    .home-main .section-container .home-cards-container .category-card-image {
        width: 260px;
        height: 260px;
    }

    .home-main .home-full-width-banner {
        flex-direction: column;
    }

    .home-main .home-full-width-banner .home-left4 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .home-main .home-full-width-banner .home-left4 .home-text30 {
        width: 400px;
    }

    .home-main .section-container .home-image6 {
        width: 100%;
    }

    .blog-post-card-blog-post-card {
        max-width: 600px;
    }

    .home-footer1 {
        flex-direction: column-reverse;
    }

    .home-footer .home-links-container {
        flex-direction: column;
    }
}